<div class="row">
<div class="col-5">
<div class= "row-2"><button routerLink="addition">Addition 'x' & 'y'</button></div>
<div class="row-2"><button routerLink="substraction">Substraction 'x' & 'y'</button></div>
<div class="row-2"> <button routerLink="multiplication">Multiplication 'x' & 'y'</button></div>
<div class= "row-2"><button routerLink="division">Division 'x' & 'y'</button></div>
</div>
<div class="col-4">
    <h6>{{addresult}}</h6>
    <br><br><br>
    <h6>{{subresult}}</h6>
    <br><br><br>
    <h6>{{multresult}}</h6>
    <br><br>
    <h6>{{divresult}}</h6>
</div>
</div>