<div class="row" id="rowline">
    <div class="col-2"> Home </div>
    <div class="col-2"> About Us </div>
    <div class="col-2"> Contact Us</div>
    <div class="col-3" style="border:1px solid black; background-color: white;
                       border-radius: 20px; color: black;">
        Search Jobs</div>
    <div class="col-2"> Website </div>
    <div class="col-1"> Logout </div>

</div>
<div class="row">
    <div class="col-2" id="colline">
        <div class="row-1"> Apps </div>
        <div class="row-1"> Landing </div>
        <div class="row-1"> Data tables</div>
        <div class="row-1"> Layout </div>
        <div class="row-1"> Form control</div>
        <div class="row-1"> Misc </div>
        <div class="row-1"> Navigation </div>
        <div class="row-1"> Buttons & indicaters</div>
        <div class="row-1"> Properties </div>
        <div class="row-1"> Dropdown </div>
        <div class="row-1"> Static top </div>
        <div class="row-1"> Fixed top</div>
    </div>
    <div class="col-6">
        <h2>Welcome to Web world!</h2>
        <br>
        <button routerLink="authentication" class="main-button"> Authentication </button>&nbsp;&nbsp;
        <button routerLink="dashboard" class="main-button"> Dashboard </button>
        <br><br>
        <router-outlet></router-outlet>
    </div>
    <div class="col-md-4">
        <img src="assets/web-design-computer.jpg" style="width: 450px; height:530px">
    </div>
</div>