#rowline{
    background-color: rgb(58, 53, 53);
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;

}

.main-button{
    width: 150px;
    height: 30px;
    background-color: rgb(68, 223, 68);
    color: white;
}
#colline{
    height: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.row-1{
    border: 1px solid black;
    height: 40px;
    font-weight: bold;
    
}
.col-6{
    margin-top: 25px;
}
.col-md-4{
    margin-top: 20px;
}
