<div id="box">
    <form #registerForm="ngForm" (ngSubmit)="submitForm(registerForm)">
        <input type="text" placeholder="Enter First_name" ngModel name="first_name" #first_name="ngModel" required>
        <p *ngIf="first_name.touched && !first_name.valid">Please Enter First_name</p>
        <br><br>
        <input type="text" placeholder="Enter Last_name" ngModel name="last_name" #last_name="ngModel" required>
        <p *ngIf="last_name.touched && !last_name.valid">Please Enter Last_name</p>
        <br><br>
        <input type="email" placeholder="Enter E-mail" ngModel name="email" #email="ngModel" required>
        <p *ngIf="email.touched && !email.valid">Please Enter E-mail</p>
        <br><br>
        <input type="text" placeholder="Enter Phone_number" ngModel name="phone_number" #phone_number="ngModel" required>
        <p *ngIf="phone_number.touched && !phone_number.valid">Please Enter Phone_number</p>
        <br><br>
        <input type="Password" placeholder="Enter Password" ngModel name="password" #password="ngModel" required>
        <p *ngIf="password.touched && !password.valid">Please Enter Password</p>
        <br><br>
        <input type="password" placeholder=" Confirm Password" ngModel name="confirm_password" #confirm_password="ngModel"required>
        <p *ngIf="confirm_password.touched && !confirm_password.valid">Please confirm_password</p>
        <br><br>
        <button type="submit">Submit</button>
    </form>
</div>

