#box{
    margin:0 auto;
    height: 390px;
    width: 350px;
    border: 2px solid black;
    padding-left: 65px;
    padding-top: 10px;
}
input{
    margin-top: 2px;
    margin-top: 2px;
}
.button{
    width: 150px;
    height: 30px;

}